
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap" rel="stylesheet">
    
    <title>Newsletter V.2</title>

    <link rel="stylesheet" href="/css/style-calendar.css" />
  </head>
  <body>

    <div class="container" >

        <div class="section_image" >

            <div class="welcome_title">
            <h1> Welcome <%= name %></h1>
        </div>

        <div class="image_wrapper">
            <img class="alarm_icon" src="/images/turn-notifications-on-button.png" alt="" srcset="">
            <img class="calender_user_img" src="<%= picture %>" alt="user_pic" srcset="">
        </div>
    </div>

    <div class="section_main" >

        <div class="section_main_header">
            <div class="even_column1" >
           <h1> Here is your Calendar Events</h1>
           <button class="edit_button" onclick="EditButtonClick()">
            <img  src="/images/edit_button.svg" alt="" srcset="">
           </button>
        </div>

        <div class="even_column2" >
            <button class="okey_button" onclick=" DeleteEventSubmit()" > <img src="/images/okey_button.svg" alt="" srcset=""></button>
           
        </div>
           
        </div>
           <hr>

           <form id="checkboxForm">

            <% let trigger =1 %>
            <% for (const key in data_trasnfer_array[0]) {  %>

                <h2> <span class="date">Day: </span> <span class="date_blue" ><%= key %></span></h2>

                <ul class="list" >
                <%    for(const value of data_trasnfer_array[0][key]) { %>
                        <li>
                            <!-- <input  type="checkbox" id="<%= value %>"> -->
                            <input id="<%= value %>" type="checkbox" value="<%= data_trasnfer_array[1][trigger] %>">
                            <label for="<%= value %>"><%= value %></label>
                            </li>
                            <% trigger++ %>
                        <% } %>
                </ul>
                <% } %>

            </form>
           

    </div>

    <div class="section_footer" >
        <form id="0101" action="/logout" method="get"></form>
        <button class="button_logout" form="0101" type="submit"> Logout</button>
    </div>

       <!-- <form id="0202" action="/delete_event/:eventId" method="get"></form> -->
       <form id="0202" method="get"></form>
    <!-- <button class="button_test" form="0202" type="submit"> Test Button</button> -->

    </div>


    <script>

        

        function EditButtonClick(){
       
          const okey_button = document.querySelector(".okey_button");

          okey_button.style.display ="block";
           

        }

        function DeleteEventSubmit(){
            // Bring here selected checkboxs id
            const checkbox_event_id =GetSelectedCheckbox();
            // Update event id on url and send the form 
            const form = document.getElementById("0202");
            const action =`/delete_event/${checkbox_event_id}`;
            form.action=action;

            form.submit();

            const okey_button = document.querySelector(".okey_button");
            okey_button.style.display ="none";


        }

        function GetSelectedCheckbox(){

            const form = document.getElementById("checkboxForm");
            const checkboxes = form.querySelectorAll('input[type="checkbox"]');
            let checkbox ="";
            checkboxes.forEach((c)=>{
                if(c.checked){
                    checkbox =c.value;
                }
            })

            return checkbox;

        }

    </script>
    </body>
    </html>
    